<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://download1.uedbet.com/sport/Sportsbook.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://download1.uedbet.com/sport/Sportsbook-HD.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://download1.uedbet.com/sport/Sportsbook-SM.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.uedbet.ios.sportsbook.9C</string>
				<key>bundle-version</key>
				<string>1.2.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>UED体育</string>
				<key>subtitle</key>
				<string>里程碑级的体育下注应用。</string>
			</dict>
			<key>accessory</key>
			<dict>
				<key>force-target</key>
				<string>&lt;1.1.1</string>
				<key>update-features</key>
				<string>测试更新</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
